ul {
  list-style: none;
}
li {
  font-family: "Golos Text", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
}
.link-list {
  display: flex;
}
.nav-link {
  padding-left: 32px;
}
